.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
nav ul li {
    display: inline;
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color:beige;
}
li a:link {
    text-decoration: none;
    color:black;
}
li a:visited {
    text-decoration: none;
    color: black;
}
li a:hover {
    background-color:moccasin;
}
body {
    margin: 0;
}
* {
    background-color:dimgrey
}