.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    width:fit-content;
    position:fixed;
    top:0;
    width:100%;
    background-color:rgb(130, 147, 153);
}
nav ul li {
    display: inline;
    float: left;
    font-size:larger;
}
li a {
    display: inline-block;
    padding: 8px;
}
li a:link {
    text-decoration: none;
    color:black;
    background-color:rgb(130, 147, 153);
}
li a:visited {
    text-decoration: none;
    color: black;
    background-color:rgb(130, 147, 153);
}
li a:hover {
    background-color:rgb(84, 95, 102);
}
body {
    margin: 0;
}
* {
    background-color:rgb(248, 252, 218);
}
.footer {
    border:1px solid black;
    font-weight:bold;
    font-size:small;
    width:100%;
    padding-left:10px;
}
#indexcontent {
    margin-top:45px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:15px;
}